<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head"/>
    <body>
        <!-- Body -->    
        <div class="wrapper">
            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />
            <!-- START MAIN CONTAINER -->
            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        Field Work monitor
                    </div>
                    <!-- START PANEL-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Welcome to CSPro Dashboard</div>
                        <div class="panel-body">
                            Choose a report!  
                        </div>
                    </div>
                    <!-- END PANEL-->
                </div>
            </section>
            <!-- END MAIN CONTAINER -->
            <footer th:replace="layout :: site-footer" />
        </div><!-- wrapper -->
    </body>
</html>
